
<html lang="ro">

<head>
  <meta charset="utf-8">
  <title>Prieteni</title>

  <link href="style/main.css" rel="stylesheet">
  <link href="style/prieteni.css" rel="stylesheet">
  <link rel="icon" href="images/logo.png" type="image/png" sizes="16x16">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="script.js"></script>

</head>

<body>

  <div class="container">

    <div class="logo">
      <img src="images/action.png" alt="logo">
    </div>

    <div class="header">
      <h1>Track Series</h1>
      <nav class="mainmenu">
        <a href="acasa.html">Acasa</a>
        <a href="prieteni.html">Prieteni</a>
        <a href="seriale.html">Seriale</a>
        <a href="tracker.html">Tracker</a>
      </nav>
    </div>

    <div class="sidebar">
      <ul>
        <li><a href="acasa.html">Acasa</a></li>
        <li><a>Tabele</a>
          <ul>
            <li><a href="prieteni.html">Prieteni</a></li>
            <li><a href="seriale.html">Seriale</a></li>
            <li><a href="tracker.html">Tracker</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="content"  id="vue">

      <table>

        <thead>
          <tr>
            <th>Nume</th>
            <th>Actiuni</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(el,idx) in prieteni">
            <td>{{el.nume}}</td>
            <td><button v-on:click="edit_prieten(idx)">Editeaza</button> <button v-on:click="delete_prieten(idx)">Sterge</button></td>
          </tr>
        </tbody>

      </table>

      <hr>


        <label for="nume_prieten">Nume:</label><br>
        <input id="nume_prieten" v-model="input_prieteni.nume" type="text" placeholder="Nume Prieten">
        <br>
        <button id="commit" v-on:click="add_prieten">Adauga</button>


    </div>

  </div>

</body>

</html>
